*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    }
main{
    width: 85%;
    margin:0 auto;
    background-color: rgba(176, 164, 247, 0.3);
}
main img{
    display: none;
}
body {
   margin: 0;
   background-image: url(img/фон.jpg);
   background-attachment: fixed;
   font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
header {
    background-image: repeating-radial-gradient(rgba(241, 184, 255, 0.7), rgba(68, 148, 252, 0.7));
    width: 100%;
    padding: 15px 0;
    position: relative;
}
nav {
    background-color: rgba(176, 164, 247, 0.8);
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: space-around;

}
#shadow{
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .3);
}
nav a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    width: auto;
    padding: 11px;
    padding-top: 10px;
    transition-duration: 1.5s;
}
img{
	display: block;
    max-width: 100%;
}
.my-slider ul li{
		position: relative;
        color:#f45a40;
}
.unslider-nav{
		max-width: 1500px;
        margin: 0 auto;
        position: relative;
        top: -58px;
        border-radius: 0;
}
.center-block-main {
        max-width: 1500px;
        margin:0 auto;
        margin-top: 60px;
        border: 10px solid rgb(176, 164, 247);
}
footer{
    background-color: rgba(176, 164, 247, 0.7);
    padding: 30px 0;
}
nav a:hover{
    border-radius: 30px;
    background-color: rgba(210, 203, 250, 0.705);;
}
.logo img{
    width: 700px;
    margin: 15px auto;
    pointer-events: none;
}
.logo{
    display: flex;
}
.sticky{
  position: sticky;
  top: 0;
  z-index: 1;
}
.blockCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cart {
    width: 400px;
    height: 400px;
    margin: 40px;
}
.cart img{
    border-radius: 15%;
}
    
h1 {
    text-align:center;
    font-size:40px;
    margin-top: 0;
    background-color: rgba(177, 164, 247, 0.555);
    padding: 10px;
  }
#pageInd{
    margin-top: 50px;
    margin-bottom: 45px;
}
.futlogo img{
    width: 15px;
    height: 15px;
    display: inline;
}
figcaption{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-top: 15px;
}
.cop{
    display: flex;
    justify-content:center;
    margin-top: 30px;
}
.cop p{
    text-align: center;
    width: 500px;
}
p{
    margin: 0;
    padding: 0;
}
.contact{
    margin:10px 50px;
    width: 300px;
}
.blockContact{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 130px;
}
h3{
    text-align: left;
    font-size: 25px;
    padding: 0px;
}
.blockContact a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 0px;
    line-height: 40px;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cost{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}
.ruletka{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
h2{
    text-align: center;
}
form{
    display: flex;
    justify-content:center;
    margin: 5px;
    margin-bottom: 20px;
}
.delete {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
    border: 1px solid;
    border-image: linear-gradient( deeppink,red);
    border-image-slice: 1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    width: 130px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    right: 11px;
    bottom: 55px;
  }
  .delete:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient( deeppink,red);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
  }
  .delete:hover {
    background: rgba(255, 251, 251, 0);
    color: white;
  }
  .delete:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;}
    .cartPreview .d-flex{
        margin-bottom: 10px;
    }
    #rez_but{
        margin-top: 30px;
    }
.delete_one {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
    border: 1px solid;
    border-image: linear-gradient( deeppink,red);
    border-image-slice: 1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    font-size: 12px;
    text-align: center;
    width: 20px;
    height: 20px;
    right: 10px;
    }
    .delete_one:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient( deeppink,red);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    }
    .delete_one:hover {
    background: rgba(255, 251, 251, 0);
    color: white;
    }
    .delete_one:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;}
    .buy {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: inline-block;
        position: absolute;
        border: 1px solid;
        border-image: linear-gradient(lime,green);
        border-image-slice: 1;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: 2px;
        transition: .8s cubic-bezier(.165, .84, .44, 1);
        width: 130px;
        height: 30px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
        left: 10px;
        bottom: 45px;
      }
      .buy:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        color: white;
        background: linear-gradient(lime,green);
        transition: .8s cubic-bezier(.165, .84, .44, 1);
      }
      .buy:hover {
        background: rgba(255, 251, 251, 0);
        color: white;
      }
      .buy:hover:before {
        bottom: 0%;
        top: auto;
        height: 100%;}
.slick-slide{
    margin: 0 10px;
}
section{
    padding: 0, 80px;
}
.multiple-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(176, 164, 247);
}
.slick-prev:before, .slick-next:before {
    
    color: black!important;
}
.multiple-items{
    max-width: 95%;
    max-height: 950%;
    margin: auto;
    padding: 20px;
    padding-bottom: 40px;
    background-color: rgba(176, 164, 247, 0.4);;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: none;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    opacity: 0;
    z-index: -10;
}
.slick-dots {
    position: absolute;
    bottom: 8px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.modalBox{
    display: flex;
    justify-content: center;
}
.modalBox p{
    text-align: justify;
    padding: 15px;
    padding-bottom: 0;
    width: 500px;
    margin-top: 30px;
    margin: 20px;
    line-height: 1.5;
}
.modalBox img{
    border-radius: 10%;
}
.btn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(rgba(241, 184, 255, 0.7), rgba(68, 148, 252, 0.7));
    border-image-slice: 1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    width: 170px;
    height: 50px;
    font-size: 16px;
  }
  .btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(rgba(241, 184, 255, 0.7), rgba(68, 148, 252, 0.7));
    transition: .8s cubic-bezier(.165, .84, .44, 1);
  }
  .btn:hover {
    background: rgba(255, 251, 251, 0);
    color: white;
  }
  .btn:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }
.buyPM{
    background-color: #97e24198;
    width: 250px;
    text-align: center;
    padding: 20px;
    float: right;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1055;
    display: none;
}
.buyPM p{
    text-align: center;
    font-size: 20px;
}
.ErrPM{
    background-color: #e2544198;
    width: 250px;
    text-align: center;
    padding: 20px;
    float: right;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1055;
    display: none;
}
.ErrPM p{
    text-align: center;
    font-size: 20px;
}
.ErrPM2{
    background-color: #e2544198;
    width: 250px;
    text-align: center;
    padding: 20px;
    float: right;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1055;
    display: none;
}
.ErrPM2 p{
    text-align: center;
    font-size: 20px;
}
.ErrPM3{
    background-color: #e2544198;
    width: 250px;
    text-align: center;
    padding: 20px;
    float: right;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1055;
    display: none;
}
.ErrPM3 p{
    text-align: center;
    font-size: 20px;
}
.korzinaVert{
    position: fixed;
    left: 0;
    bottom: -451px;
    width: 300px;
    height: 500px;
    z-index: 1000000000000;
    overflow:visible;
    overflow-y: auto;
    background-color: rgba(176, 164, 247, 0.7);
}

#imgKor{
    width: 47px;
    position: fixed;
    bottom: 0px;
    z-index: 10000000000020;
    display: none;
}
.bodyKorzina{
    padding: 10px;
}
.bottom_korz{
    position: absolute;
    bottom: 10px;
}
#rez_korz{
    font-weight: bold;
}
.b_buy{
    margin-left: 30px;
    margin-bottom: 20px;
}
#hide{
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    transition: 2s;
    user-select: none;
}
#hide:hover{
    color:rgba(0, 0, 0, 0.404);
    transition: 2s;
}
@media (max-width: 500px) {
    .korzinaVert{
        position: fixed;
        bottom: -500px;
        width: 100%;
        height: 500px;
        z-index: 1000000000000;
        overflow:visible;
        overflow-y: auto;
        background-color: rgba(176, 164, 247, 0.7);
    }
    #hide{
        display: none;
    }
    #imgKor{
        display: block;
    }
 }
 @media (max-width: 1260px) {
    .blockContact{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin: 0;
        padding: 0 170px;
        padding-right: 80px;
    }
    .contact{
        width: 300px;
    }
}
@media (max-width: 1130px) {
    .blockContact{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 0 170px;
        padding-right: 80px;
    }
    .contact{
        margin:10px 50px;
        width: 400px;
    }
    nav a{
        font-size: 22px;
    }
    .buyPM{
        background-color: #97e24198;
        width: 200px;
        text-align: center;
        padding: 20px;
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1055;
        display: none;
    }
    .buyPM p{
        text-align: center;
        font-size: 17px;
    }
    .ErrPM{
        background-color: #e2544198;
        width: 200px;
        text-align: center;
        padding: 20px;
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1055;
        display: none;
    }
    .ErrPM p{
        text-align: center;
        font-size: 17px;
    }
    .ErrPM2{
        background-color: #e2544198;
        width: 200px;
        text-align: center;
        padding: 20px;
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1055;
        display: none;
    }
    .ErrPM2 p{
        text-align: center;
        font-size: 17px;
    }
    .ErrPM3{
        background-color: #e2544198;
        width: 200px;
        text-align: center;
        padding: 20px;
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1055;
        display: none;
    }
    .ErrPM3 p{
        text-align: center;
        font-size: 17px;
    }
    .unslider-nav {
        max-width: 1500px;
        margin: 0 auto;
        position: relative;
        top: -33px;
        border-radius: 0;
        height: 30px;
    }
    .multiple-items {
        max-width: 95%;
        max-height: 950%;
        margin: auto;
        padding: 10px;
        padding-bottom: 25px;
        background-color: rgba(176, 164, 247, 0.4);
    }
 }
@media (max-width: 739px) {
    .blockContact{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0 70px;
    }
    .contact{
        margin:10px auto;
        width: 300px;
    }
    nav a{
        font-size: 18px;
    }
    .logo{
        padding: 0 20px;
    }
    .center-block-main {
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 60px;
        border: 4px solid rgb(176, 164, 247);
    }
    .unslider {
        overflow: auto;
        padding: 0;
        position: relative;
        top: -31px;
    }
    #pageInd {
        margin-top: 0px;
        margin-bottom: 45px;
    }
 }
 @media (max-width: 456px) {
    nav a{
        font-size: 15px;
    }
    .blockContact a{
        font-size: 16px;
    }
    h3 {
        text-align: left;
        font-size: 22px;
        padding: 0px;
    }
 }
 @media (max-width: 566px) {
    .cart {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
    figcaption{
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }
    .cost{
        font-size: 20px;
    }
    .buyPM{
        background-color: #97e24198;
        width: 150px;
        text-align: center;
        padding: 20px;
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1055;
        display: none;
    }
    .buyPM p{
        text-align: center;
        font-size: 14px;
    }
    .ErrPM{
        background-color: #e2544198;
        width: 150px;
        text-align: center;
        padding: 20px;
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1055;
        display: none;
    }
    .ErrPM p{
        text-align: center;
        font-size: 14px;
    }
    .ErrPM2{
        background-color: #e2544198;
        width: 150px;
        text-align: center;
        padding: 20px;
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1055;
        display: none;
    }
    .ErrPM2 p{
        text-align: center;
        font-size: 14px;
    }
    .ErrPM3{
        background-color: #e2544198;
        width: 150px;
        text-align: center;
        padding: 20px;
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1055;
        display: none;
    }
    .ErrPM3 p{
        text-align: center;
        font-size: 14px;
    }
    .unslider-nav {
        max-width: 1500px;
        margin: 0 auto;
        position: relative;
        top: -23px;
        border-radius: 0;
        height: 20px;
    }
 }
 @media (max-width: 400px) {
    .cart {
        width: 250px;
        height: 250px;
        margin: 10px;
    }
    figcaption{
        font-size: 18px;
    }
    h1{
        font-size: 22px;
    }
    .cost{
        font-size: 18px;
    }
 }
 @media(min-width: 2300px){
    .center-block-main {
        max-width: 1900px;
        margin:0 auto;
        margin-top: 60px;
}
.unslider-nav{
    max-width: 1900px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    border-radius: 0;
}
nav a{
    font-size: 40px;
    padding: 4px;
    padding-top: 1px;
}
.cart {
    width: 500px;
    height: 500px;
    margin: 40px;
}
.blockContact a{
    font-size: 30px;
    padding: 0px;
    line-height: 60px;
}
h3{
    font-size: 35px;
    margin-bottom: 10px;
}
 }