*{

}
main{
    margin: 20px;
}
body {
   
}
header {
    background-color: bisque;
}
header .knop1 a img {
    height: 20px;
}
header .knop1 {
    text-align: right;
}

nav {
    
    height: 50px;
    display: flex;
    align-items:center; 
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: white;
    font: 20px Arial;
    font-weight: bold;
    width: auto;
    
}
img{

	max-width:100%;
}

	.my-slider ul li{
		position: relative; color:#f45a40;
        
	}
	
	.unslider-nav{
		max-width: 1170px; margin: 0 auto;position: relative;top: -50px;
	}

    .center-block-main {
        max-width: 1170px;margin:0 auto;
        }



